SECRET_KEY=django-insecure-khaja-kham-system
DEBUG=True
ALLOWED_HOSTS=*
GOOGLE_MAPS_API_KEY=
KHALTI_TEST_SECRET_KEY=

# Render Database Service
DB_SERVICE_NAME=food-ordering-system

# Discrete PostgreSQL Credentials
DB_NAME=food_ordering_system_a88s
DB_USER=food_ordering_system_a88s_user
DB_PASSWORD=your_password_here
DB_HOST=dpg-dashueg473hc738cgv50-a.oregon-postgres.render.com
# Internal Render Hostname (for production inside Render):
# DB_HOST=dpg-dashueg473hc738cgv50-a
DB_PORT=5432

# Database URL
DATABASE_URL=postgresql://food_ordering_system_a88s_user:your_password_here@dpg-dashueg473hc738cgv50-a.oregon-postgres.render.com/food_ordering_system_a88s
# Internal URL:
# DATABASE_URL=postgresql://food_ordering_system_a88s_user:your_password_here@dpg-dashueg473hc738cgv50-a/food_ordering_system_a88s
